<div class="p-4">
  <div class="p-4 grid lg:grid-cols-3 gap-4">
    <app-user-info-item title="Nome" [text]="'Fulano'"></app-user-info-item>
    <app-user-info-item
      title="Email"
      [text]="'fulando@hotmail.com'"
    ></app-user-info-item>
  </div>
  <div class="p-4 grid lg:grid-cols-3 gap-4">
    <app-user-info-item title="País" [text]="'Brazil'"></app-user-info-item>
    <app-user-info-item
      title="Estado"
      [text]="'São Paulo'"
    ></app-user-info-item>
  </div>
  <div class="p-4 grid lg:grid-cols-3 gap-4">
    <app-user-info-item
      title="Estado Civil"
      [text]="'Casado'"
    ></app-user-info-item>
    <app-user-info-item
      title="Renda Mensal"
      [text]="'R$ ' + '5.000,00'"
    ></app-user-info-item>
    <app-user-info-item
      title="Data de Nascimento"
      [text]="'11/04/1988'"
    ></app-user-info-item>
  </div>
</div>
