<div>
  <p class="p-4 text-2xl font-semibold">Dependentes:</p>
  <div class="p-4 grid sm:grid-cols-3">
    <app-user-info-item title="Nome" text="Fulano"></app-user-info-item>
    <app-user-info-item title="Idade" text="20"></app-user-info-item>
    <app-user-info-item title="CPF" text="320.003.992-40"></app-user-info-item>
  </div>

  <hr class="block sm:hidden" />

  <div class="p-4 grid sm:grid-cols-3">
    <app-user-info-item title="Nome" text="Fulano"></app-user-info-item>
    <app-user-info-item title="Idade" text="20"></app-user-info-item>
    <app-user-info-item title="CPF" text="320.003.992-40"></app-user-info-item>
  </div>

  <hr class="block sm:hidden" />

  <div class="p-4 grid sm:grid-cols-3">
    <app-user-info-item title="Nome" text="Fulano"></app-user-info-item>
    <app-user-info-item title="Idade" text="20"></app-user-info-item>
    <app-user-info-item title="CPF" text="320.003.992-40"></app-user-info-item>
  </div>
</div>
