<div>
  <p class="p-4 text-2xl font-semibold">Dependentes:</p>
  <div class="p-4 grid sm:grid-cols-3" *ngFor="let dependent of dependentsList">
    <app-user-info-item
      title="Nome"
      [text]="dependent?.name"
    ></app-user-info-item>
    <app-user-info-item
      title="Idade"
      [text]="dependent.age.toString()"
    ></app-user-info-item>
    <app-user-info-item
      title="Documento"
      [text]="dependent.document.toString()"
    ></app-user-info-item>
  </div>

  <hr class="block sm:hidden" />
</div>
